*{  margin:  0;
	padding: 0;
	outline: none;
	border: none;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

h1, h2, h3, h4{ font-weight: normal; }

html{
	height: 100%;
}

body{
	background-color: hsl(230, 10%, 35%);
	-webkit-transition: background-color .75s ease-in;
			transition: background-color .75s ease-in;
}

article{
	width: 70%;
	margin: 0 auto;
}

article .head{
	margin: 2.5% auto;
}

article .head #face{
	display: none;
	margin: 0 .05em -.1em 0;
	height: .88em;
	border-bottom: .1em solid;
	border-color: hsl(0, 0%, 55%);
	border-radius: .25em / .3em;	
	-webkit-transition: border-color .75s ease-in;
			transition: border-color .75s ease-in;
}

article .head #title{
	min-width: 200px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0.1em hsl(0, 0%, 55%);
	line-height: 1em;
	letter-spacing: .05em;
	color: hsl(50, 10%, 95%);
	font-size: 6.5em;
	font-family: 'Alfa Slab One', Helvetica, Arial, sans-serif;
	cursor: default;
	-webkit-transition: color .75s ease-in, text-shadow .75s ease-in;
			transition: color .75s ease-in, text-shadow .75s ease-in;
}

.notepad, header li{
	padding: 2px;
	border: 1px solid;
	border-color: #CfD0C8;
	border-bottom-color: #404040;
	border-right-color: #404040;
	background-color: #CfD0C8;
	box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
}

.notepad{
	width: 95%;
	margin: 0 auto;
	min-width: 200px;
	overflow-y: hidden;
	height: 350px;
	font-family: 'Source Code Pro', monospace;
	font-size: .8em;
}

.notepad-transitions{
	-webkit-transition: height 0.5s, width 0.5s;
			transition: height 0.5s, width 0.5s;
}

.notepad-max{
	width: 100%;
}

.notepad-min{
	height: 25px;
	overflow: hidden;
}
 
header{	
	cursor: default;
	overflow: auto;
	padding: 1px;
	background-color: #122A70;
	background-image: linear-gradient(to right, #122A70, #9fC6ED);

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}

header h1{
	float: left;
	color: #FFF;
	font-size: 1em;
	padding-left: 20px;
	background: url('../img/notepad.png') no-repeat 1px center;
}

header h1:after{
	content: ' - Notepad';
}

header ul{
	margin-right: 1px;
	float:right;
}

header li{
	float:left;
	margin-left: 2px;
	width: 16px;
	height: 16px;
	color: #000;
	list-style-type: none;
}

#min, #max{
	overflow: hidden;
	text-indent: -1337px;
}

#min{
	box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
				inset 0 0 0 2px #CFD0C8,inset 2px 0 0 2px #CFD0C8,
				inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;
}

#min:active{
	border-color: #404040;
	border-bottom-color: #CFD0C8;
	border-right-color: #CFD0C8;

	box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
				inset 0 0 0 2px #CFD0C8, inset 2px 0 0 2px #cfd0c8,
				inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;	
}

#max{
	box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
				inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
				inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
}

#max:active{
	border-color: #404040;
	border-bottom-color: #CFD0C8;
	border-right-color: #CFD0C8;

	box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
				inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
				inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
}

#close{
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}

#close:active{
	border-color: #404040;
	border-bottom-color: #cfd0c8;
	border-right-color: #cfd0c8;

	box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
}

#close a{
	display: block;
	cursor: default;
	color: #000;
	text-decoration: none;
}

.notepad nav ul{
	padding: 3px 0;
	overflow: auto;
}

.notepad nav ul li{
	cursor: default;
	border: 1px solid;	
	border-color: transparent;
	float: left;
	list-style: none;

	-webkit-tap-highlight-color: transparent;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}

.notepad nav ul li:hover{
	border-color: #FFF;
	border-bottom-color: #808080;
	border-right-color: #808080;
}

.notepad nav ul li:active{
	border-color: #808080;
	border-bottom-color: #FFF;
	border-right-color: #FFF;
}

.notepad nav ul li a{
	padding: 3px;
	cursor: default;
	display: block;
	color: #000;
	text-decoration: none;
}

.notepad nav ul li a:active{
	padding: 5px 1px 1px 5px;
}

.textarea{
	height: 295px;
	overflow-y: scroll;
	padding: 0.5em;
	border: 1px solid;
	border-color: #808080;
	border-bottom-color: #FFF;
	border-right-color: #FFF;
	background-color: #FFF;
	line-height: 1.5em;
	box-shadow: inset -1px -1px 0 #CFD0C8, inset 1px 1px 0 #404040;
}

.textarea h1, .textarea h2,
.textarea h3, .textarea h4{
	font-size: 1em;
}

.textarea h1{
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: .25em;
}

.textarea p{
	padding: 0 2em;
	color: rgba(0,0,0,0.85);
}

/* markdown-esque styling */

.textarea p, .textarea h1, .textarea h2,
.textarea h3, .textarea h4, .textarea section ul{
	margin-bottom: 1em;
}

.textarea h1::before, .textarea h2::before,
.textarea h3::before, .textarea h4::before{
	display: inline-block;
}

.textarea h1::before{
	content: '# ';
	width: 2em;
}

.textarea h2::before{
	content: '## ';
	width: 2em;
}

.textarea h3::before{
	content: '### ';
	width: 3em;
}

.textarea h4::before{
	content: '#### ';
	width: 4em;
}

.textarea em::before, .textarea em::after{ content: '_'; }

.textarea li::before{
	content: '+ ';
	width: 2em;
	padding-left: 2em;
}


.textarea span.inactive{ /* inactive links */
	color: gray;
	cursor: help;
	text-decoration: underline;
}

.textarea time{
	color: #444;
	font-size: .85em;
}

.textarea time::after{
	content: ' - ';
}

.textarea::-webkit-scrollbar{
    width: 16px;
}
 
.textarea::-webkit-scrollbar-track{
	background: #CFD0C8;
}
 
.textarea::-webkit-scrollbar-thumb, .textarea::-webkit-scrollbar-button{
    border: 1px solid;
	border-color: #CFD0C8;
	border-bottom-color: #404040;
	border-right-color: #404040;
	background-color: #CFD0C8;
	box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
}

.textarea::-webkit-scrollbar-button:active{
	border: 1px solid;
	border-color: #404040;
	border-bottom-color: #CFD0C8;
	border-right-color: #CFD0C8;
	background-color: #CFD0C8;
	box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
}

.textarea::-webkit-scrollbar-button:start{
	background: url('../img/startbuttonscroll.png') center no-repeat #cfd0c8;
}

.textarea::-webkit-scrollbar-button:end{
	background: url('../img/endbuttonscroll.png') center no-repeat #cfd0c8;
}

/* title gets smaller when you resize the window */

@media (max-width: 1300px){ article .head #title{ font-size: 5em; } }
@media (max-width: 1000px){ article .head #title{ font-size: 4em; } }
@media (max-width: 800px){ article .head #title{ font-size: 3em; } }

/* title changes but also some other adjustments to the notepad */
 
@media (max-width: 600px){
	article{ width: 90%; }
	article .head #title{ font-size: 2.5em; }
	header h1{ font-size: 0.85em; }
}

@media (max-width: 450px){
	article{ width: 100%; }
	article .head #title{ font-size: 2em; }

	.textarea{ font-size: .9em; }
	.textarea time{ display: none; }
	.textarea li::before{ padding-left: 1em; }

	.textarea h1::before,
	.textarea h1::before{ width: 1.5em; }
	.textarea h2::before{ width: 1.5em; }

	.textarea h3::before{ width: 2.5em; }
	.textarea h4::before{ width: 3.5em; }

	.textarea p{ padding: 0 1.5em; }
}
@media (max-width: 350px){
	article .head #title{ font-size: 1.5em; }
}

/* blog */
/* ---- */

.blog .notepad{
	margin-bottom: 1.5em;
	height: auto;
}

.blog .notepad .textarea{ height: auto; }

.blog .pagination {
	margin-left: 2em;
}

.blog .post-wrap{
	padding-bottom: 2.5em;
}

.blog .post .date{
	border-top: 1px solid #D3D3D3;
	padding-top: .25em;
}

.blog .post .audioimg{ width: 30%; }

.blog .post em{ background-color: rgba(45, 120, 160, .2); }


.blog .post .code-box{
	margin: .5em 2em;
}

.blog .post code{
	font-size: 1rem;
	background-color: rgba(95, 120, 160, .2);
}

/* css triangles post */

.csstriangle{
	margin: .5em 2em;
}

.csstriangle .box{
	margin: 1em 0;
	width: 100px;
	height: 100px;
	display: inline-block;
	border-style: solid;
	border-color: #505050 #FFA300 #8BFF8B #418AE6;
}

.csstriangle .box:nth-child(1){ width: 100px; height: 100px; border-width: 1px; }
.csstriangle .box:nth-child(2), .csstriangle .box:nth-child(3){ width: 0px; height: 0px; border-width: 50px; }
.csstriangle .box:nth-child(3){ border-color: transparent transparent #505050 transparent; }

.csstriangle .singlebox{
	width: 0px;
	border: 50px solid transparent;
	border-bottom: 50px solid #000;
}

/* css recreated ui post*/

.esch{
	cursor: default;
	margin: .25em 1em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 50px;
	text-align: center;
	background: #21333C;

	-webkit-transform-origin: 50%;
			transform-origin: 50%;
}

.esch::after{
	color: #fff;
	display: block;
	content: '+';
}

.esch:hover::after{
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}