/* these are the styles yo */

@font-face {
  font-family: 'Alfa Slab One';
  font-weight: 400;
  src: local('Alfa Slab One'), local('AlfaSlabOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/alfaslabone/v2/Qx6FPcitRwTC_k88tLPc-fn8qdNnd5eCmWXua5W-n7c.woff) format('woff');
}

*{  margin:  0;
	padding: 0;
	outline: none;
	border: none;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

h1, h2, h3{ font-weight: normal; }

html{
	height: 100%;
}

body{
	background-color: hsl(230, 20%, 40%);
	-webkit-transition: background .75s ease-in;
	   -moz-transition: background .75s ease-in;
	    -ms-transition: background .75s ease-in;
	     -o-transition: background .75s ease-in;
			transition: background .75s ease-in;
}

article{
	width: 60vw;
	margin: 0 auto;
}

article #title{
	margin: 2.5% auto;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0.1em hsl(25, 50%, 40%);
	line-height: 1em;
	letter-spacing: 0em;
	color: hsl(50, 50%, 40%);
	font-size: 6.5em;
	font-family: 'Alfa Slab One', Helvetica, Arial, sans-serif;
	
	-webkit-transition: color .75s ease-in, text-shadow .75s ease-in;
	   -moz-transition: color .75s ease-in, text-shadow .75s ease-in;
	    -ms-transition: color .75s ease-in, text-shadow .75s ease-in;
	     -o-transition: color .75s ease-in, text-shadow .75s ease-in;
			transition: color .75s ease-in, text-shadow .75s ease-in;
}

.notepad, header li{
	padding: 2px;
	border: 1px solid;
	border-color: #CfD0C8;
	border-bottom-color: #404040;
	border-right-color: #404040;
	background-color: #CfD0C8;

	-webkit-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
	   -moz-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
			box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
}

.notepad{
	width: 100%;
	overflow-y: hidden;
	height: 400px;
	font-family: monospace;
}

.notepad-transitions{
	-webkit-transition: height 0.5s, width 0.5s;
	   -moz-transition: height 0.5s, width 0.5s;
	    -ms-transition: height 0.5s, width 0.5s;
	     -o-transition: height 0.5s, width 0.5s;
			transition: height 0.5s, width 0.5s;
}

.notepad-max{
	width: 120%;
}

.notepad-min{
	height: 25px;
	overflow: hidden;
}
 
header{	
	cursor: default;
	overflow: auto;
	padding: 1px;

	background: #122A70;
	background: -webkit-gradient(linear, left top, right top, from(#122A70), to(#9fC6ED));
	background: -webkit-linear-gradient(left, #122A70, #9fC6ED);
	background:    -moz-linear-gradient(left, #122A70, #9fC6ED);
	background:     -ms-linear-gradient(left, #122A70, #9fC6ED);
	background:      -o-linear-gradient(left, #122A70, #9fC6ED);

	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
}

header h1{
	float: left;
	color: #FFF;
	font-size: 1em;
	padding-left: 20px;
	background: url('../img/notepad.png') no-repeat 1px center;
}

header ul{
	margin-right: 1px;
	float:right;
}

header li{
	float:left;
	margin-left: 2px;
	width: 16px;
	height: 16px;
	color: #000;
	list-style-type: none;
}

#min{
	-webkit-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
						inset 0 0 0 2px #CFD0C8,inset 2px 0 0 2px #CFD0C8,
						inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;
	   -moz-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
						inset 0 0 0 2px #CFD0C8,inset 2px 0 0 2px #CFD0C8,
						inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;
			box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
						inset 0 0 0 2px #CFD0C8,inset 2px 0 0 2px #CFD0C8,
						inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;
}

#min:active{
	border-color: #404040;
	border-bottom-color: #CFD0C8;
	border-right-color: #CFD0C8;

	-webkit-box-shadow:inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
						inset 0 0 0 2px #CFD0C8, inset 2px 0 0 2px #cfd0c8,
						inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;
	   -moz-box-shadow:inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
						inset 0 0 0 2px #CFD0C8, inset 2px 0 0 2px #cfd0c8,
						inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;
			box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
						inset 0 0 0 2px #CFD0C8, inset 2px 0 0 2px #cfd0c8,
						inset -3px 0 0 2px #CFD0C8, inset 0 -2px 0 2px #000;	
}

#max{
	-webkit-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
						inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
						inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
	   -moz-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
						inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
						inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
			box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080,
						inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
						inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
}

#max:active{
	border-color: #404040;
	border-bottom-color: #CFD0C8;
	border-right-color: #CFD0C8;

	-webkit-box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
						inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
						inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
	   -moz-box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
						inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
						inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
			box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF,
						inset 0 0 0 2px #CFD0C8, inset 1px 0 0 2px #CFD0C8,
						inset -1px 0 0 2px #CFD0C8, inset 0px 1px 0 2px #CFD0C8, inset 0 1px 0 4px #000;
}

#close{
	line-height: 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 12px;
	font-family: Verdana, sans-serif;
}

#close:active{
	border-color: #404040;
	border-bottom-color: #cfd0c8;
	border-right-color: #cfd0c8;

	-webkit-box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
	   -moz-box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
			box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
}

#close a{
	display: block;
	cursor: default;
	color: #000;
	text-decoration: none;
}

.notepad nav ul{
	padding: 3px 0;
	overflow: auto;
}

.notepad nav ul li{
	cursor: default;
	border: 1px solid;	
	border-color: transparent;
	float: left;
	list-style: none;

	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
		 -moz-user-select: none;
		  -ms-user-select: none;
}

.notepad nav ul li:hover{
	border-color: #FFF;
	border-bottom-color: #808080;
	border-right-color: #808080;
}

.notepad nav ul li:active{
	border-color: #808080;
	border-bottom-color: #FFF;
	border-right-color: #FFF;
}

.notepad nav ul li a{
	padding: 3px;
	cursor: default;
	display: block;
	color: #000;
	text-decoration: none;
}

.notepad nav ul li a:active{
	padding: 5px 1px 1px 5px;
}

.textarea{
	height: 345px;
	overflow-y: scroll;
	padding: 0.5em;
	border: 1px solid;
	border-color: #808080;
	border-bottom-color: #FFF;
	border-right-color: #FFF;
	background-color: #FFF;
	line-height: 1.5em;

	-webkit-box-shadow: inset -1px -1px 0 #CFD0C8, inset 1px 1px 0 #404040;
	   -moz-box-shadow: inset -1px -1px 0 #CFD0C8, inset 1px 1px 0 #404040;
			box-shadow: inset -1px -1px 0 #CFD0C8, inset 1px 1px 0 #404040;
}

.textarea h1, .textarea h2{
	font-size: 1em;
}

.textarea h2{
	font-size: 13px;
}

.textarea p{
	color: rgba(0,0,0,0.85);
}

.textarea hr{
	height: 1em;
}

.textarea hr::after{
	content: '-~-~-~-~-~-';
	display: inline-block;
	position: absolute;
	margin-top: -.25em;
}

.textarea hr:first-of-type::after{ content: '-----------'; }
.textarea hr:last-of-type::after{  content: '==========='; }

.textarea::-webkit-scrollbar{
    width: 16px;
}
 
.textarea::-webkit-scrollbar-track{
	background: #CFD0C8;
}
 
.textarea::-webkit-scrollbar-thumb, .textarea::-webkit-scrollbar-button{
    border: 1px solid;
	border-color: #CFD0C8;
	border-bottom-color: #404040;
	border-right-color: #404040;
	background-color: #CFD0C8;

	-webkit-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
	   -moz-box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
			box-shadow: inset 1px 1px 0 #FFF, inset -1px -1px 0 #808080;
}

.textarea::-webkit-scrollbar-button:active{
	border: 1px solid;
	border-color: #404040;
	border-bottom-color: #CFD0C8;
	border-right-color: #CFD0C8;
	background-color: #CFD0C8;

	-webkit-box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
	   -moz-box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
			box-shadow: inset 1px 1px 0 #808080, inset -1px -1px 0 #FFF;
}

.textarea::-webkit-scrollbar-button:start{
	background: url('../img/startbuttonscroll.png') center no-repeat #cfd0c8;
}

.textarea::-webkit-scrollbar-button:end{
	background: url('../img/endbuttonscroll.png') center no-repeat #cfd0c8;
}

@media (max-width: 1200px){
	article #title{ font-size: 5em; }
}

@media (max-width: 500px){
	article{ width: 70%; }
	article #title{ font-size: 4em; }
	header h1{ font-size: 0.85em; }
}
