LASTFM_API=
LASTFM_USERNAME=

TWITTER_API=
TWITTER_SECRET=
TWITTER_ACCESSTOKEN=
TWITTER_TOKENSECRET=
TWITTER_USERNAME=

SONGKICK_API=
SONGKICK_USERNAME=

LETTERBOXD_USERNAME=

GOODREADS_API=
GOODREADS_USERNAME=

GITHUB_USERNAME=
GITHUB_BASIC_AUTH=

YOUTUBE_API=
YOUTUBE_PLAYLIST_ID=

RESCUE_TIME_API=

FOURSQUARE_TOKEN=
FOURSQUARE_USER_ID=
FOURSQUARE_VERSION_DATE=

POCKETCASTS_EMAIL=
POCKETCASTS_EMAIL=

CACHE_TIME=1
REQUEST_TIMEOUT=5000
