*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;

  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: #020100;
  background-image: linear-gradient(#f3f1ee 1px, transparent 1px),
                    linear-gradient(90deg, #f3f1ee 1px, transparent 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

a {
  display: inline;
  color: #0000b2;
  text-decoration: none;
  font-weight: bolder;
}

.wrapper {
  margin: 1em;
  overflow: hidden;
  padding-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffef;
}

.wrapper::before,
.wrapper::after {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
}

.wrapper::before {
  top: 0;

  background: linear-gradient(to right, #0000b2, #ef3911, #f1d400, #008414);
}
.wrapper::after {
  bottom: 0;

  background: linear-gradient(to left, #0000b2, #ef3911, #f1d400, #008414);
}

header h1 {
  margin-top: 0.5em;
  white-space: nowrap;

  color: #000;
  line-height: 1em;
  letter-spacing: .125em;
  font-family: serif;
  font-weight: 700;
  font-size: 2.5em;
  text-transform: lowercase;
}

header,
main {
  padding: 0 1em;
}

main {
  padding-bottom: 1em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.75em;
}

.items {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-auto-rows: minmax(6em, auto);
}

p,
.item {
  list-style: none;
  max-width: 40em;

  color: #111;
}

p {
  margin-top: 1em;
  line-height: 1.5em;
}

.item {
  border: 1px solid #f2f2d8;
  border-radius: 4px;

  transition: background 0.33s ease-in-out, transform 0.33s ease-in-out;
}

.item:hover {
  background: white;

  transform: translateY(-1%);
}

.item:nth-child(1n) { border-color: rgba(  0,   0, 178, 0.05); }
.item:nth-child(2n) { border-color: rgba(164,  34,   4, 0.05); }
.item:nth-child(3n) { border-color: rgba( 90,  77,   2, 0.05); }
.item:nth-child(4n) { border-color: rgba(  0, 102,  15, 0.05); }

.item > a {
  display: block;
  height: 100%;
  padding: 0.5em;
}

.item > a > * {
  display: flex;
}

.item__title {
  margin: 0.25em 0 0.5em;
}

.item__summary {
  line-height: 1.33em;
  color: #2e2e2a;
  font-size: 0.8em;
  font-weight: 500;
}

.item__details {
  color: #585858;
  font-size: 0.65em;
  font-weight: 400;
  justify-content: space-between;
}

.item__emoji {
  color: black;
  text-align: right;
  font-size: 1em;
}

@media (min-width: 45em) {
  body {
    font-size: 20px;
  }

  .wrapper {
    flex-direction: row;
  }

  header {
    order: 1;
  }

  header h1 {
    float: right;
    width: 100px;
    transform: rotate(90deg) translate(-1em, -1em);
    transform-origin: bottom left;
  }
}

@media (min-width: 75em) {
  body {
    font-size: 22px;
  }

  header h1 {
    width: auto;
    text-shadow: 0  1em #111, 0  2em #222, 0  3em #333,
                 0  4em #444, 0  5em #555, 0  6em #666,
                 0  7em #777, 0  8em #888, 0  9em #999,
                 0 10em #AAA, 0 11em #BBB, 0 12em #CCC,
                 0 13em #DDD, 0 14em #EEE;
    transform: rotate(-5deg) translateX(-1em);
  }
}
