*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  flex-direction: column;

  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: #020100;
  background-image: linear-gradient(#f3f1ee 1px, transparent 1px),
                    linear-gradient(90deg, #f3f1ee 1px, transparent 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

a {
  display: inline;
  color: #0000b2;
  text-decoration: none;
  font-weight: bolder;
}

.wrapper {
  margin: 1em;
  overflow: hidden;
  padding-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffef;
}

.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  height: 5px;
  width: 100%;

  background: linear-gradient(to right, #014884, #ef3911, #f1d400, #008414);
}

header h1 {
  margin-top: 0.5em;
  white-space: nowrap;

  color: #000;
  line-height: 1em;
  letter-spacing: .125em;
  font-family: serif;
  font-weight: 700;
  font-size: 2.5em;
  text-transform: lowercase;
}

header,
main {
  padding: 0 1em;
}

main {
  padding-bottom: 1em;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

p,
li {
  list-style: none;
  max-width: 40em;
  line-height: 1.5em;
  margin-top: 1em;

  color: #111;
}

li > * {
  display: block;
}

li span {
  font-size: 0.85em;
}

li time {
  color: #585858;
  font-size: 0.75em;
}

@media (min-width: 45em) {
  body {
    font-size: 20px;
  }

  .wrapper {
    flex-direction: row;
  }

  header {
    order: 1;
  }

  header h1 {
    float: right;
    width: 100px;
    transform: rotate(90deg) translate(-1em, -1em);
    transform-origin: bottom left;
  }
}

@media (min-width: 75em) {
  body {
    font-size: 22px;
  }

  header h1 {
    width: auto;
    text-shadow: 0  1em #111, 0  2em #222, 0  3em #333,
                 0  4em #444, 0  5em #555, 0  6em #666,
                 0  7em #777, 0  8em #888, 0  9em #999,
                 0 10em #AAA, 0 11em #BBB, 0 12em #CCC,
                 0 13em #DDD, 0 14em #EEE;
    transform: rotate(-5deg) translateX(-1em);
  }
}
