<!DOCTYPE html>
<html lang="en">
<head>
	<title>Zac Colley</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Web developer and designer">
	<link rel="image_src" href="http://www.gravatar.com/avatar/26ab7600fc89f94711ec3b7db40d039b?d=img%2Fdefaultface.png&s=48">

	<link rel="icon" href="img/notepad.png" />

  <style>*,::after,::before{margin:0;padding:0;box-sizing:border-box}body{padding:30px;background-color:#020100;background-image:linear-gradient(#f3f1ee 1px,transparent 1px),linear-gradient(90deg,#f3f1ee 1px,transparent 1px);background-size:50px 50px,50px 50px,10px 10px,10px 10px;background-position:-2px -2px,-2px -2px,-1px -1px,-1px -1px}a{text-decoration:none;font-weight:bolder;border-bottom:1px solid}.wrapper{position:relative;display:flex;font-family:sans-serif;background:#fff}.wrapper::after,.wrapper::before{content:'';position:absolute;top:0;height:5px;width:100%;background:linear-gradient(to right,#0018ff,#ef3911,#f1d400,#008414)}aside,header,main{flex-shrink:1;padding:2em}aside{order:2;padding:2.5em 2em 2em;font-size:.75em}header{order:1}header h1{white-space:nowrap;color:#000;line-height:1em;letter-spacing:.125em;font-family:serif;font-weight:700;font-size:2.5em;text-transform:lowercase;text-shadow:0 1em #111,0 2em #222,0 3em #333,0 4em #444,0 5em #555,0 6em #666,0 7em #777,0 8em #888,0 9em #999,0 10em #aaa,0 11em #bbb,0 12em #ccc,0 13em #ddd,0 14em #eee;transform:rotate(-5deg) translateX(-1em)}header h1::before{content:'';position:absolute;width:1.85em;height:4em;opacity:.65;background-image:url(/img/zac.jpg)}li,p{display:block;max-width:40em;line-height:1.5em;margin-bottom:.75em;color:#111}aside li,li{list-style:none}li{overflow:hidden;position:relative}main li{margin-top:2.75em}li>small{margin-bottom:.25em;color:#585858}li>small>time{display:block;float:right}.commits li,li>a{display:inline-block}li>.image,li>a{margin-right:.5em}li>.image{float:left;width:50px}li>.image .code-image{float:left;height:50px;background:#585858}li>strong{margin-top:1em;font-weight:500}.commits li{font-size:.8em;margin:0}time{color:#585858;font-size:.8em}main>time{margin-top:5em}.rating,blockquote{color:#634a26}blockquote,li>strong{font-size:.85em}aside li{margin-bottom:1em}aside li>*,li>small,li>strong,main>time{display:block}@media (max-width:80em) and (min-width:40em){body{padding:15px}header h1{width:10px;text-shadow:none;transform:rotate(90deg);transform-origin:right}li>small>time{float:none}}@media (max-width:40em){body{padding:5px}.wrapper{flex-direction:column}aside,header{order:0}header h1{text-shadow:none;transform:rotate(180deg) translateY(-1em)}header h1::before{opacity:.35}li>small>time{float:none}}</style>
</head>
<body>
  <div class="wrapper">
  	{{{ body }}}
  </div>
</body>
</html>
