<!DOCTYPE html>
<html lang="en">
<head>
	<title>Zac Colley</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="Web developer and designer.">
	<link rel="image_src" href="http://www.gravatar.com/avatar/26ab7600fc89f94711ec3b7db40d039b?d=img%2Fdefaultface.png&amp;s=48">

	<link rel="shortcut icon" href="img/notepad.png" />

	<meta property="og:title" content="Zac Colley" />
	<meta property="og:url" content="http://zaccolley.com/" />
	<meta property="og:description" content="Zac Colley &bull; Web Developer and Designer" />
	<meta property="og:image" content="http://www.gravatar.com/avatar/26ab7600fc89f94711ec3b7db40d039b?d=img%2Fdefaultface.png&amp;s=100" />

	<meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@zaccolley">
  <meta name="twitter:url" content="http://www.zaccolley.com">
  <meta name="twitter:title" content="Zac Colley">
  <meta name="twitter:image" content="http://www.gravatar.com/avatar/26ab7600fc89f94711ec3b7db40d039b?d=img%2Fdefaultface.png&amp;s=200">
  <meta name="twitter:description" content="Zac Colley &bull; Web Developer and Designer">

  <style>li>small,time{color:#585858}*,::after,::before{margin:0;padding:0;box-sizing:border-box}body{display:-webkit-box;display:-ms-flexbox;display:flex;font-family:sans-serif}li,li>small{display:block}aside,header,main{-ms-flex-negative:1;flex-shrink:1;padding:2em}header h1{white-space:nowrap;color:#000;line-height:1em;letter-spacing:.125em;font-weight:500;font-size:2em;text-transform:lowercase;text-shadow:0 1em #111,0 2em #222,0 3em #333,0 4em #444,0 5em #555,0 6em #666,0 7em #777,0 8em #888,0 9em #999,0 10em #AAA,0 11em #BBB,0 12em #CCC,0 13em #DDD,0 14em #EEE}li{list-style:none;max-width:40em;margin-bottom:1.5em;color:#111}li>small{margin-bottom:.25em}li>a{display:inline-block}time{font-size:.8em}aside{padding-top:3em;font-size:.75em}@media (max-width:80em) and (min-width:40em){header h1{width:10px;text-shadow:none;-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform-origin:right;transform-origin:right}}@media (max-width:40em){body{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}header h1{text-shadow:none}}</style>
</head>
<body>

	{{{ body }}}

</body>
</html>
