<!DOCTYPE html>
<html lang="en">
<head>
	<title>Zac Colley</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta name="description" content="Web developer and designer. I am studying at the University of Portsmouth for Web Technologies, a Computer Science course for web fanatics.">
	<link rel="image_src" href="http://www.gravatar.com/avatar/26ab7600fc89f94711ec3b7db40d039b?d=img%2Fdefaultface.png&amp;s=48">

	<link rel="shortcut icon" href="img/notepad-old.png" />

	<link rel="stylesheet" href="css/style.css">

	<meta property="og:title" content="Zac Colley" />
	<meta property="og:url" content="http://zaccolley.com/" />
	<meta property="og:description" content="Zac Colley &bull; Web Developer and Designer" />
	<meta property="og:image" content="http://www.gravatar.com/avatar/26ab7600fc89f94711ec3b7db40d039b?d=img%2Fdefaultface.png&amp;s=100" />

	<meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@zaccolley">
    <meta name="twitter:url" content="http://www.zaccolley.com">
    <meta name="twitter:title" content="Zac Colley">
    <meta name="twitter:image" content="http://www.gravatar.com/avatar/26ab7600fc89f94711ec3b7db40d039b?d=img%2Fdefaultface.png&amp;s=200">
    <meta name="twitter:description" content="Zac Colley &bull; Web Developer and Designer">

</head>
<body>

	{{{ body }}}

</body>
</html>
