/* resets */
*::before, *, *::after{
	margin:  0;
	padding: 0;
	outline: none;
	border: none;
	box-sizing: border-box;
}

body,
html{
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4{ font-weight: normal; }

body{
	overflow-x: hidden;
	padding-bottom: 30px; /* for bottom bar */

	font-family: 'Tahoma', 'Geneva', 'Verdana', sans-serif;

	background-image: url('../img/bg/xp.jpg');
	background-attachment:fixed;
	background-size: 100% 100%;
}

.window{
	position: absolute;
	min-width: 200px;
	overflow-y: hidden;
	height: 450px;
	padding: 4px;

	font-size: .8em;

	border-radius: 8px 8px 0 0;
	background-color: #0048F1;
	box-shadow: inset 0 1px 0 #0048F1,
				inset 0 2px 4px 1px #3d95ff,
				inset 0 0 5px #00138C,
				inset -1px -1px 1px 1px #00138c;
}

.window--about{
	z-index: 50;
	right: 5%;
	bottom: 15%;
	width: 45%;
}

.window--pictures{
	z-index: 20;
	top: 5%;
	left: 25%;
	width: 35%;
}

.window-transitions{
    transition: height 0.5s, width 0.5s;
}

.window-max{
	width: 100%;
}

.window-min{
	height: 25px;
	overflow: hidden;
}

.window header{
	cursor: default;
	overflow: auto;
	padding: 2px 1px 3px;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;

	background: linear-gradient(to bottom,
		rgba(0, 19, 140, 0),
		rgba(0, 19, 140, .33) 25%,
		rgba(0, 19, 140, 0));
	box-shadow: inset 0 -2px 4px #0048F1,
				inset 0 -5px 15px #3d95ff;

}

.window header h1{
	float: left;
	padding: 2px 0 0;
	padding-left: 20px;

	color: #FFF;
	font-size: 1em;
	font-weight: 700;
	text-shadow: 0 1px 0 #000C8C;

	background: no-repeat 2px center;
}

.window--about header h1{
	background-image: url('../img/notepad.png');
}
.window--pictures header h1{
	background-image: url('../img/foldersearchicon.png');
}

.window--about header h1:after{
	content: ' - Notepad';
}

.window header ul{
	margin-right: 1px;
	float: right;
}

.window header li{
	position: relative;
	float: left;
	margin-left: 2px;
	width: 21px;
	height: 21px;
	color: #000;
	border: 1px solid white;
	border-radius: 3px;
	list-style-type: none;
}

.window header li:active{
	opacity: .9;
}

#min, #max{
	overflow: hidden;
	text-indent: -1337px;

	background: linear-gradient(to bottom right, #90aff9, #025af0);
	box-shadow: inset 0 0 0 1px rgba(25, 75, 190, .5),
				inset -1px -1px 0 1px rgba(25, 75, 190, .5);
}

#min:hover, #max:hover{
	background: linear-gradient(to bottom right, #9ebeff, #0c6eed);
}

#min::after,
#max::after{
	content: '';
	display: block;
	position: absolute;
	bottom: 4px; left: 4px;
}

#min::after{
	width: 7px;
	height: 3px;

	background: white;
}

#max::after{
	width: 11px;
	height: 11px;
	border: 1px solid white;
	border-top-width: 3px;
}

#close{
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 600;
	color: white;
	font-family: Verdana, sans-serif;

	background: linear-gradient(to bottom right, #efa390, #e03802);
	box-shadow: inset 0 0 0 1px rgba(176, 51, 18, .5),
				inset -1px -1px 0 1px rgba(176, 51, 18, .5);
}

#close:hover{
	background: linear-gradient(to bottom right, #ffaea5, #fc6b47);
}

#close a{
	display: block;
	cursor: default;
	color: #000;
	text-decoration: none;
}

.window nav ul{
	overflow: auto;
	background: #ECE9D8;
	box-shadow: inset 0 -1px 0 #7F9DB9,
				inset 0 -2px 0 #FFFFFF;
}

.window nav ul li{
	margin-bottom: 2px;
	cursor: default;
	float: left;
	list-style: none;

	-webkit-tap-highlight-color: transparent;

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}

.window nav ul li:hover{
	background: #316ac5;
}

.window nav ul li a{
	padding: 5px 7px 6px 6px;
	cursor: default;
	display: block;
	color: black;
	text-decoration: none;
}

.window nav ul li:hover a{
	color: white;
}

.panel{
	overflow: scroll;
	height: 386px;
	background-color: #FFF;
	padding: 0.5em;
	resize: none;
}

.window--pictures .panel{
	padding: 5px 15px;
	background: #FFF url('../img/picturesbg.png') bottom right no-repeat;
}

.instagram-photos{
	overflow: hidden; /* clearfix */
}

.instagram-photo{
	width: 96px;
	height: 96px;
	float: left;
    margin: 3px;
    margin-right: 30px;
    margin-bottom: 40px;

	list-style: none;
	border: 1px solid #ece9d8;
}

.instagram-photo:active{
	border-color: #316ac5;
	outline: 2px solid #316ac5;
}

.instagram-photo a,
.instagram-photo img{
	display: block;
	width: 100%;
}

.instagram-photo a{
	color: black;
	text-decoration: none;
}

.instagram-photo__caption{
	display: block;
	padding: 3px;
	width: 90%;
	margin: 5px auto;

	font-size: 10px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.instagram-photo:active .instagram-photo__caption{
	background: #316ac5;
	color: white;
}

.textarea{
	line-height: 1.5em;
}

.textarea > section{
	position: relative;
}

.textarea h1, .textarea h2,
.textarea h3, .textarea h4{
	font-size: 1em;
}

.textarea h1{
	border-bottom: 1px solid #D3D3D3;
	padding-bottom: .25em;
}

.textarea p{
	max-width: 40em;
	padding: 0 2em;
	color: rgba(0,0,0,0.85);
}

/* markdown-esque styling */

.textarea p, .textarea h1, .textarea h2,
.textarea h3, .textarea h4, .textarea section ul{
	margin-bottom: 1em;
}

.textarea h1::before, .textarea h2::before,
.textarea h3::before, .textarea h4::before{
	display: inline-block;
}

.textarea h1::before{
	content: '# ';
	width: 2em;
}

.textarea h2::before{
	content: '## ';
	width: 2em;
}

.textarea h3::before{
	content: '### ';
	width: 3em;
}

.textarea h4::before{
	content: '#### ';
	width: 4em;
}

.textarea em::before, .textarea em::after{ content: '_'; }

.textarea li::before{
	content: '+ ';
	width: 2em;
	padding-left: 1em;
}


.textarea span.inactive{ /* inactive links */
	color: gray;
	cursor: help;
	text-decoration: underline;
}

.textarea time{
	color: #444;
	font-size: .85em;
}

.textarea time::after{
	content: ' - ';
}

.info-list{
	position: relative;
}

.songkick-credit{
	position: absolute;
    right: 0; top: 0;
    padding: 1em;
    height: 1em;
}

.bar{
	z-index: 100;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background: linear-gradient(to bottom, #245ddb, #4993e6 3px, #245ddb 6px);
	box-shadow: inset 0 1px 0 #3168d5, inset 0 -1px 1px 0 #1941a5;
}

.start-button{
	float: left;
	width: 100px;
	height: 30px;

	border-top-right-radius: 5px 15px;
	border-bottom-right-radius: 5px 15px;

	background-image: url('../img/start.png'),
	                  linear-gradient(to bottom right, #8bbe8b, #348834);
	background-position: 10px center, 0 0;
	background-repeat: no-repeat;
	box-shadow: inset -1px 0 1px #115f12,
				inset 1px 0 0 #1d6750,
				inset 0 0 1px 1px #3a7c3b;

}

.start-button:hover{
	background-image: url('../img/start.png'),
					  linear-gradient(to bottom right, #8acd8a, #2c882c);
}

.clock{
	float: right;
	height: 30px;
	padding: 11px 14px;

	text-align: right;
	color: white;
	font-size: 10px;
	line-height: 8px;

	border-left: 1px solid #0a2e52;
	background: #1297ed;
	box-shadow: inset 0 1px 0 #095bc9,
				inset 2px 3px 1px #1cc8f7;
}

.music{
	z-index: 10;
	position: absolute;
	left: 5%;
	bottom: 15%;
	width: 337px;
    height: 398px;
	padding: 36px 9px;

	background: url('../img/music.png');
	transition: opacity .25s steps(5);
}

.music--hidden{
	height: 0;
	width: 0;
	opacity: 0;
}

.music-inner{
	overflow: hidden;
	padding: 1px 3px;
    height: 300px;

    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.music__artist,
.music__song{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: white;
}

.music__artist{
    font-size: 16px;
    letter-spacing: -1.1px;
}

.music__song{
    font-size: 19px;
    font-weight: 700;
    letter-spacing: -1.4px;
}

.music__art{
	display: block;
	margin: 10px auto;
	width: 200px;
	height: 200px;
}

.music__bar{
	position: absolute;
	left: 42px;
	width: 20px;
	min-width: 20px;
	max-width: 521px;
	bottom: 48px;

	background: #94c692;
	box-shadow: inset 0 1px 0 #a8daa6,
				inset 0 -1px 0 #8a8a8a;

    animation: barMove 180s linear infinite;
}

@keyframes barMove{
	from{ width: 20px; }
	to{ width: 251px; }
}

.music__bar__handle{
	float: right;
	width: 23px;
	height: 11px;
    margin-right: -3px;

	background: center no-repeat;
	background-image: url('../img/music__handle.png');
}

.music__bar__handle:hover{
	background-image: url('../img/music__handle--hover.png');
}

@media (max-width: 600px){

	.window,
	.music{
		position: initial;
	}

	.window{
		width: 95%;
		height: 250px;
	}

	.panel{
		height: 187px;
	}

	.textarea{ font-size: .9em; }
	.textarea time{ display: none; }
	.textarea li::before{ padding-left: 1em; }

	.textarea h1::before,
	.textarea h1::before{ width: 1.5em; }
	.textarea h2::before{ width: 1.5em; }

	.textarea h3::before{ width: 2.5em; }
	.textarea h4::before{ width: 3.5em; }

	.textarea p{ padding: 0 1.5em; }

	.window{
		margin: 1em auto 1.5em;
	}

	.music{
		margin: 1em auto 5em;
		transform: translateX(10%);
	}

}
