*::before, *, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;

  font-family: sans-serif;
}

header,
main,
aside {
  flex-shrink: 1;
  padding: 2em;
}

header h1 {
  white-space: nowrap;

  color: #000;
  line-height: 1em;
  letter-spacing: .125em;
  font-weight: 500;
  font-size: 2em;

  text-transform: lowercase;
  text-shadow: 0  1em #111, 0  2em #222, 0  3em #333,
               0  4em #444, 0  5em #555, 0  6em #666,
               0  7em #777, 0  8em #888, 0  9em #999,
               0 10em #AAA, 0 11em #BBB, 0 12em #CCC,
               0 13em #DDD, 0 14em #EEE;
}

main {
}

li {
  display: block;
  list-style: none;
  max-width: 40em;
  margin-bottom: 1.5em;

  color: #111;
}

li > small {
  display: block;
  margin-bottom: .25em;

  color: #444;
}

li > a {
  display: inline-block;
}

time {
  color: #AFAFAF;
  font-size: .8em;
}

aside {
  padding-top: 3em;
  font-size: .75em;
}

@media (max-width: 80em) and (min-width: 40em) {
  header h1 {
    width: 10px;

    text-shadow: none;

    transform: rotate(90deg);
    transform-origin: right;
  }
}

@media (max-width: 40em) {
  body {
    flex-direction: column;
  }

  header h1 {
    text-shadow: none;
  }
}
