*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  background-color: #020100;
  background-image: linear-gradient(#656565 1px, transparent 1px),
    linear-gradient(90deg, #656565 1px, transparent 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

a {
  color: #0000b2;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 0 0 2px transparent;
}

a:hover,
a:focus {
  outline: none;
  background-color: #0000b2;
  box-shadow: 0 0 0 2px #0000b2;
  color: #fff;
}

li {
  list-style: none;
}

h1,
h2 {
  margin: 1em 0 0.75em;
}

p {
  max-width: 35em;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}

pre {
  background: #020100;
  color: #eee;
  padding: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

hr {
  margin-bottom: 1.5rem;
  border: none;
  border-bottom: 2px solid #ebebe5;
}

.skip-to-main-content-link,
.skip-to-main-content-link:focus {
  position: absolute;
  box-shadow: none;
  white-space: nowrap;
}

.skip-to-main-content-link:not(:focus) {
  clip: rect(0 0 0 0);
  height: auto;
  width: 1px;
}

.skip-to-main-content-link:focus {
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: #eee;
  background: #020100;
}

.wrapper {
  margin: 10px 10px;
  overflow: hidden;
  padding-top: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: #ffffef;
}

.wrapper::before {
  content: '';
  position: absolute;
  height: 5px;
  width: 100%;
  top: 0;

  background: linear-gradient(to right, #0000b2, #ef3911, #f1d400, #008414);
}

.my-face {
  display: none;
}

.header__title {
  display: block;
  margin-top: 0.5em;
  white-space: nowrap;

  color: #000;
  letter-spacing: .25em;
  font-family: serif;
  font-weight: 700;
  font-size: 2.5em;
  text-transform: lowercase;
  line-height: 0.8;
}

.header__titles,
.main,
.footer {
  padding: 0 1rem;
}

.header__nav__list {
  display: flex;
  flex-wrap: wrap;
}

.header__nav__list a {
  display: block;
  padding: 1rem;
}

.main {
  padding-bottom: 5rem;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
  font-size: 0.75em;
  color: #525248;
}

.footer__counter {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}

.footer__counter__image {
  margin-left: 0.25rem;
  height: 1em;
}

.main,
.post {
  max-width: 35em;
}

.post__date {
  display: block;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: 0.75em;
  color: #525248;
}

.post__content blockquote {
  padding-left: 1em;
  border-left: 5px solid #eee;
  font-size: 0.95em;
}

.post__content img {
  display: block;
  max-width: 100%;
  margin-bottom: 1.5em;
}

.post__content ul,
.post__content ol {
  margin-bottom: 1.5em;
}

.post__content li {
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

.post__content li::before {
  margin-right: 0.25em;
  font-weight: bold;
}

.post__content ul li::before {
  margin-right: 0.5em;
  content: 'â—';
}

.post__content ol {
  counter-reset: ordered-list;
}

.post__content ol li::before {
  counter-increment: ordered-list;
  content: counter(ordered-list) ". ";
}

.post__content .warning {
  position: relative;
  padding: 1em;
  font-size: 0.85em;
  background-color: #f9f1f0;
}

.post__content .warning__icon {
  position: absolute;
  right: 1em;
  top: 0;
  background: white;
  padding: 0.5em;
}

.post__content .warning h2:first-of-type {
  margin-top: 0;
}

.post__content .warning p:last-of-type {
  margin-bottom: 0;
}

.post__author {
  position: relative;
  margin-top: 2em;
  padding: 1em;
  font-size: 0.85em;
  background-color: #f7f7ee;
}

.post__author h2:first-of-type {
  margin-top: 0;
}

.item {
  margin-top: .25em;
  margin-bottom: 1em;

  border: 1px solid #f2f2d8;
  border-radius: 4px;

  overflow: hidden;
  transition: transform 0.1s ease-in, box-shadow 0.1s ease-in;
}

.items--made .item {
  max-width: 400px;
}

.item:hover {
  border-color: #ebebe5;

  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.05);

  transform: translateY(-1%);
}

.item:active {
  box-shadow: none;

  transform: translateY(0%);
}

.item>a,
.item>a:focus,
.item>a:hover {
  display: block;
  height: 100%;
}


.item>a:focus,
.item>a:hover {
  background-color: white;
  box-shadow: none;
}

.items--written .item>a {
  display: flex;
}

.item__content {
  flex-grow: 1;
}

.item__media {
  display: block;
}

.items--written .item__media {
  display: none;
}

.item__media>* {
  display: block;
}

.items--written .item__media>* {
  width: 200px;
}

.item__details,
.item__title,
.item__description {
  display: block;
  padding: 0 1rem;
}

.item__details {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 0.5em;
  margin-bottom: 0.25em;

  background: rgba(0, 0, 0, 0.0125);
  color: #585858;
  font-size: 0.65em;
  font-weight: 400;
}

.item__details__emoji {
  font-size: 1em;
}

.item__title {
  display: inline-block;
  margin-top: 0.25em;
}

.item>a:hover .item__title,
.item>a:focus .item__title {
  background-color: #0000b2;
  box-shadow: 0 0 0 2px #0000b2;
}

.item__description {
  margin-top: 0.75em;
  margin-bottom: 0.5em;
  line-height: 1.33em;

  color: #2e2e2a;
  font-size: 0.8em;
  font-weight: 500;
}

@media (min-width: 320px) {
  .my-face {
    display: block;
    position: absolute;
    width: 64px;
    background-color: #fff;
    box-shadow: 5px 5px 0 #020100;
    transform: rotate(5deg);
  }

  .my-face--home {
    right: 1em;
    top: 11%;
  }

  .my-face--post {
    right: 1em;
    top: -1em;
  }
}

@media (min-width: 500px) {
  .my-face--home {
    width: 128px;
    top: 5%;
    right: 5%;
    transform: rotate(10deg);
  }

  .items--written .item__media {
    display: block;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .my-face--home {
    right: 26%;
  }

  .my-face--post {
    width: 128px;
  }

  .wrapper {
    margin: 20px 40px 0 0;
    flex-direction: row;
  }

  .header {
    order: 1;
    padding-top: 2em;
    padding-right: 6em;
  }

  .header__title,
  .header__subtitle {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: bottom right;
  }

  .header__title {
    top: -1rem;
    right: 2rem;
    margin-top: 0;
    font-size: 3em;
  }

  .header__subtitle {
    top: 2rem;
    right: 7rem;
    margin-bottom: 0;
  }

  .header__nav__list {
    padding-right: 2rem;
    flex-direction: column;
  }

  .items--made {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 400px 400px;
  }

  /* if grid is supported */
  @supports (display: grid) {
    .items--made .item {
      margin: 0;
    }
  }
}

@media (min-width: 80em) {
  body {
    font-size: 22px;
  }

  .wrapper {
    margin: 40px 60px 0 0;
  }
}